.register .register-box {
  width: 20%;
  margin: 0 auto;
  background-size: cover;
}

.register .register-box .register-title {
  text-align: center;
  margin: 30px 0;
  width: 100%;
}

.register .register-box input {
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.register .register-box button {
  display: block;
  border: none;
  background-color: #EA2027;
  color: white;
  width: 60%;
  margin: 20px auto 0;
  padding: 10px;
  cursor: pointer;
  outline: none;
}
.register .register-box button[disabled] {
  opacity: 0.7;
  cursor: not-allowed;
}
.register .register-box button:hover {
  opacity: 0.7;
}
.register .register-box button:active {
  opacity: 0.5;
}

.register .register-box label {
  display: block;
  width: 100%;
}

.register .error-container {
  text-align: center;
  color: #EA2027;
  font-size: 12px;
}